<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Meetic</title>
    <link href="../assets/style.css" rel="stylesheet">
</head>
<body>
<!-- NAVIGATION -->
<header class="navigation">
    <section class="connection-subscription">
        <h1><a href="#">My Meetic</a></h1>
        <a href="connection.html" class="button-index">Sign in</a>
        <a href="subscription.html" class="button-index">Sign up</a>
    </section>
</header>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="../controller/mustNotBeConnected.js"></script>
</body>
</html>